.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    user-select: none;
    border: 2px solid transparent;
    padding-inline: 10px;
    padding-block: 4px;
    border-radius: 3px;

    // ── Zustands-Modifier ──────────────────────────────────────

    &--active {
        background-color: var(--primary-active);
    }

    &--disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }

    &--full-width {
        width: 100%;
    }

    // ── Varianten ──────────────────────────────────────────────

    &--primary {
        background-color: var(--primary);
        color: var(--primary-text);

        &:hover {
            background-color: var(--primary-hover);
        }
        &:active,
        &.Button--active {
            background-color: var(--primary-active);
        }
        &:focus {
            background-color: var(--primary-focus);
        }
    }

    &--secondary {
        background-color: transparent;
        color: var(--primary);
        border: 2px solid var(--primary);

        &:hover {
            background-color: var(--primary-hover-light);
            color: var(--primary-text-contrast);
        }
        &:active,
        &.Button--active {
            background-color: var(--primary-active-light);
            color: var(--primary-text-contrast);
        }
        &:focus {
            background-color: var(--primary-focus-light);
            color: var(--primary-text-contrast);
        }
    }

    &--tertiary {
        background-color: transparent;
        color: var(--primary);

        &:hover {
            background-color: var(--primary-hover-light);
            color: var(--primary-text-contrast);
        }
        &:active,
        &.Button--active {
            border-bottom-color: var(--primary-active-light);
            color: var(--primary)
        }
        &:focus {
            background-color: var(--primary-focus-light);
            color: var(--primary-text-contrast);
        }
    }
}